@import url('../fonts/BioSans/font-bio-sans.css');
a {
    color: #74AA50;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'BioSans-SemiBold';
    color: #74AA50;
}

h1 {
    font-size: 25px;
    text-align: center;
    font-family: 'BioSans-Bold';
    margin-bottom: 2rem
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

ul.inline-style li {
    list-style: none;
    display: inline-block;
}

ul.inline-style li a {
    padding: 0 1.5rem;
}

ul.inline-style.pad-less li a {
    padding: 0.5rem;
}

ul.inline-style li:last-child a {
    padding-right: 0
}

ul.inline-style li:first-child a {
    padding-left: 0
}

ul.inline-style.font-small li a {
    font-size: 13px
}

ul.inline-style.color-white li a {
    color: #fff;
}

ul.inline-style.color-white li a:hover {
    color: #74AA50;
}

.btn-theme {
    background-color: #74AA50;
    color: #ffffff;
    font-size: 0.9rem;
    font-family: 'BioSans-SemiBold';
}

.form-control:focus, .form-control:active, .form-control:visited, .btn:focus, .btn:active, .btn:visited {
    box-shadow: none;
    border-color: #555555;
}

.color-theme{
    color: #74AA50;
}

.form-control{
    font-family: 'BioSans-Regular';
    border-radius: 3px;
}

.form-control-lg{
    font-size: .9rem;
}


body {
    font-family: 'BioSans-Light';
}

header {
    height: 72px;
    width: 100%;
    border-bottom: 1px solid #E2E2E2;
    background-color: #ffffff;
    z-index: 4;
    position: fixed;
}

header .logo {
    float: left;
    margin: 0.7rem 0;
}

header .menu {
    float: right;
    padding: 0;
    margin: 0;
}

header .menu li {
    list-style: none;
    display: inline-block;
}

header .menu li a {
    display: block;
    padding: 1.4rem 1.5rem;
    font-weight: 600;
}

header .menu li a:hover {
    text-decoration: none;
}

header .menu li:first-child a {
    color: #000000;
}

header .menu li:last-child a {
    padding-right: 0;
}

.banner {
    width: 100%;
    height: 100vh;
    /* background: url(../images/banner.jpg) no-repeat;  */
    background: url(../images/banner.jpg) #ffffff no-repeat;
    background-position-x: right;
    background-size: contain;
    border-bottom: 1px solid #E8E8E8;
    padding-top: 72px;
    display: table;
}

.banner-wrapper {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.banner-content {
    display: inline-block;
    vertical-align: top;
    color: #000000;
    width: 555px;
}

.banner-content h2 {
    color: #000000;
    font-size: 35px;
    margin-bottom: 1rem;
}

.banner-content p {
    font-size: 12px;
    font-weight: 500;
    color: #606060;
    font-family: 'BioSans-SemiBold';
}

.banner-content p i {
    color: #74AA50;
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    top: 2px;
    margin-right: .1rem;
}

.select-search input, .select-search select, .select-search button {
    height: 55px;
    float: left;
    font-size: .85rem
}

.select-search select {
    width: 20%;
}

.select-search input {
    width: calc(50% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 34px;
    background-image: url(../images/icons/location.png);
    background-size: 11%;
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: center;
}

/* .select-search input:before {
    font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
   content: "\f095";
} */

.select-search button {
    width: 30%;
}

.home-slides {
    height: 200px;
    background-color: #ffffff;
}

.home-slides .container {
    position: relative;
}

.home-slides .home-slide {
    width: 14.28%;
    height: 150px;
    margin: 25px 0;
    float: left;
    position: relative;
}

.home-slides .home-slide-cover {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.9) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.9) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.9) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#e6ffffff', GradientType=1);
    /* IE6-9 */
}

.home-slide img {
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

/***** How to block ******/

.home-how-to {
    background-color: rgba(245, 245, 245, 0.5);
    padding: 5rem 0;
}

.home-how-to [class^="col-"], .home-how-to [class*=" col-"] {
    position: relative;
    height: 282px;
}

.home-how-to h1 {
    margin-bottom: 2rem;
}

.how-to-block-shadow {
    position: relative;
    z-index: 1;
    width: 80%;
    height: 100px;
    margin: 0 auto;
    bottom: -173px;
    background: rgba(0, 0, 0, 0.40);
    filter: blur(19px);
    backdrop-filter: blur(10px);
}

.how-to-block {
    background-color: #ffffff;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 282px;
    top: -100px;
    padding: 3rem;
    text-align: center;
}

.how-to-block img {
    display: inline-block;
    margin-bottom: 1.5rem
}

.how-to-block h5 {
    font-family: 'BioSans-Regular';
    font-size: 20px;
    margin-bottom: 1.5rem;
}

/***** How to block ******/

/***** Footer ******/

footer {
    background-color: #1F1F1F;
    color: #ffffff;
}

.footer-menu {
    border-bottom: 1px solid #4B4B4B;
    padding: 3rem 0;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer ul li {
    list-style: none;
    display: block;
}

footer ul li a {
    color: #ffffff;
    display: block;
    padding: 0.5rem 0;
}

footer ul li a:hover {
    color: #74AA50;
}

footer ul li.heading {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 1.2rem;
}

footer .footer-rights {
    padding: 1rem 0;
    font-size: 13px;
}

.home-featured {
    padding: 4rem 0;
}

/***** MEALS ******/

.restaurant-block {
    height: 363px;
    background-color: #f9f9f9;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1.5rem;
}

.restaurant-block .restaurant-block-top {
    height: 35px;
    float: right;
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: 600;
}

.restaurant-block .restaurant-block-top ul li {
    display: inline-block;
    color: #000000;
    position: relative;
}

.restaurant-block .restaurant-block-top ul li:first-child::after {
    content: " | ";
}

.restaurant-block .restaurant-block-top ul li:last-child i {
    font-size: 0.7rem;
    color: #FFDE00;
    position: relative;
    top: -1px;
}

.restaurant-block .restaurant-block-bottom {
    height: 90px;
    position: absolute;
    min-width: 90%;
    bottom: 0;
    background-color: #ffffff;
    padding: 0.6rem;
}

.restaurant-block .restaurant-block-bottom h6 {
    font-family: 'BioSans-Regular';
}

.restaurant-block .restaurant-block-bottom p {
    margin: 0;
    font-size: 13px;
    color: #000000;
}

/***** MEALS ******/

/***** Call to action ******/

.call-to-action {
    background-color: #1F1F1F;
    padding: 2rem 0;
}

.call-to-action .container {
    height: 450px;
    background: url(../images/burger.png) no-repeat right 100%;
}

.call-to-action-content {
    padding-top: 4.5rem;
    color: #ffffff;
}

.call-to-action-content .logo-n {
    margin-bottom: 2rem
}

.call-to-action-content p {
    margin-bottom: 2rem
}

/***** Call to action ******/

/***** Calls to action ads ******/

.calls-to-action {
    background-color: #fff;
    padding: 4rem 0;
}

.calls-to-action ul {
    position: relative;
}

.calls-to-action li {
    width: calc(50% - 10px);
    float: right;
}

.calls-to-action li:first-child {
    float: left;
}

.calls-to-action li:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
}

/***** Calls to action ads ******/

/***** Call signup ******/

.call-signup {
    background: url(../images/call-bg.png) no-repeat center 100%;
    height: 366px;
    display: table;
    width: 100%;
}

.call-signup-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.call-signup-content {
    width: 500px;
    height: 170px;
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
}

.call-signup-content p {
    margin-bottom: 1.5rem;
}

.call-signup-content input {
    float: left;
    width: 79%;
}

.call-signup-content button {
    float: right;
    width: 19%;
}

/***** Call signup ******/

.form-custom-white {
    font-size: 14px;
    font-family: 'BioSans-Regular';
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
    height: 48px;
}

.form-custom-white:focus {
    border: none;
    outline: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.50);
}

.form-custom-white::-webkit-input-placeholder {
    color: #C0C0C0;
}

.form-custom-white:-ms-input-placeholder {
    color: #C0C0C0;
}

.form-custom-white::placeholder {
    color: #C0C0C0;
}

.btn-custom-white {
    font-size: 14px;
    font-family: 'BioSans-SemiBold';
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
    height: 48px;
    background-color: #ffffff;
    color: #74AA50
}

.btn-custom-white:hover {
    color: #ffffff;
    background-color: #74AA50;
}

.btn-custom-white:focus, .btn-custom-white:active, .btn-custom-white:visited {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
}

/***** INNER PAGE ******/

.inner-banner{
    width: 100%;
    height: 400px;
    background-image: url(../images/inner-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 72px;
    display: table;
}

.inner-banner-wrapper{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.inner-banner .res-details-box{
    width: 443px;
    height: 238px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
    padding: 2rem;
    position: relative;
    font-size: 14px;
}

.res-details-box .res-more-details{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 2rem;
    font-size: 12px;
    bottom: 2rem;
}

.res-details-box p{
    margin-bottom: 5px;
}

.res-more-details p{
    font-weight: bold;
    margin-bottom: 3px;
    color: #000000
}

.res-more-details button{
    background-color: #F6F6F6;
    font-size: 14px;
}

.rating{
    display: inline-block;
    padding: 0 3px;
}

.rating i{
    font-size: 0.6rem;
    color: #FFDE00;
    position: relative;
    top: -.1rem;
}



.inner-content {
    min-height: 500px;
    padding-top: 125px;
    padding-bottom: 4rem;
}

.inner-content.gray-bg{
    background-color: #F5F5F5;
}

.list-group.sidenav {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(226, 226, 226, 0.50);
    border-radius: 5px;
    font-weight: 600;
}

.sidenav li.active {
    background-color: #AA5550;
    font-weight: bold;
    border-color: #AA5550;
}

.sidenav .list-group-item {
    border-left: 0;
    border-right: 0;
    border-bottom-color: rgba(0, 0, 0, 0.07);
    font-size: 15px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.sidenav .list-group-item-action.active {
    background-color: #fff;
    color: inherit;
    border-left: solid 3px #74AA50;
    border-top: 0;
    background-image: url(../images/arrow-right.png);
    background-repeat: no-repeat;
    background-position-x: 230px;
    background-position-y: center;
}

.side-basket {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px #E2E2E2;
    border-radius: 5px;
}

.side-basket .basket-btn-box{
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding: 20px;
}

.side-basket .basket-content{
    padding: 20px;
    font-size: 14px;
}

.basket-content .empty{
    color: #B8B7B5;
}

.meal-block li{
    display: block;
    padding: .7rem 0;
    border-bottom: 1px solid rgba(226, 226, 226, 0.5);
    position: relative;
}

.meal-block li.heading{
    font-size: 22px;
    font-family: 'BioSans-Bold';
    padding-top: 2rem;
    color: #74AA50;
}

.meal-block li:first-child{
    padding-top: 0; 
}

.meal-block li .img-box{
    float: left;
    width: 120px;
    height: 120px;
    margin-right: 1rem;
}

.meal-block li .meal-content{
    float: left;
    line-height: 1;
    font-size: .9rem;
}

.meal-content h5{
    color: #000000;
}

.meal-content p{
    color: #606060;
}

.meal-content .amount{
    font-size: 1rem;
    font-family: 'BioSans-Bold';
    margin-top: 1.5rem;
}

.meal-block li .icon-box{
    position: absolute;
    right: 0;
    top: 56px;
    cursor: pointer;
}

/***** ORDER COMPLETED ******/

.order-completed h1{
    text-align: left;
    float: left;
    background-image: url(../images/icons/smiley.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 18px;
    padding-right: 20px;
    margin-bottom: 2.5rem;
}

.order-completed h1 i{
    font-size: 2.5rem;
    position: relative;
    top: 4px;
    margin-right: 10px 
}

/***** ORDER COMPLETED ******/

.alert{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 14px;
    color: #606060;
    font-family: 'BioSans-Regular';
}

.alert.alert-icon{
    padding-left: 65px;
}

.alert.alert-icon.alert-icon-call{
    background-image: url(../images/icons/call.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1.25rem;
}

.alert-result{
    background: #F7F7F7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    background-image: url(../images/done-basket.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    background-position-x: right;
    padding: 3rem 3rem 3rem 65px;
    min-height: 250px;
    font-size: .9rem;
    font-family: 'BioSans-Regular';
}


/***** TITLE BAR ******/

.title-bar{
    background-color: #AA5550;
    color: #ffffff;
    border-radius: 4px;
    margin-bottom: 2rem;
    min-height: 85px;
    background-image: url(../images/title-bar-bg.png);
    background-repeat: repeat-x;
    font-size: .9rem;
    padding: 1.35rem 1.5rem;
}

.title-bar .bar-content-form{
    text-align: right;
}

.bar-content-form input{
    float: right;
}

.bar-content-form input:first-child{
    width: 180px;
    margin-left: 7px;
    background-image: url(../images/icons/settings.png);
    background-repeat: no-repeat;
    background-position: right 15px center;
    padding-right: 50px;
}

.bar-content-form input:last-child{
    width: 250px;
    background-image: url(../images/icons/search.png);
    background-repeat: no-repeat;
    background-position: right 15px center;
    padding-right: 50px;
}

/***** TITLE BAR ******/


/***** CHECKOUT ******/

.checkout-steps{
    display: block;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 3rem;
    position: relative;
}

.checkout-steps::before{
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #74AA50;
    position: absolute;
    top: 24px;
    z-index: -1;
}

.checkout-steps li{
    /* display: inline-block; */
    width: 49px;
    height: 49px;
    border: solid 2px #74AA50;
    border-radius: 50%;
    background-color: #ffffff;
}

.checkout-steps li span{
    display: block;
    padding: 11px;
    text-align: center;
    font-weight: bold;
    color: #74AA50;
}

.checkout-steps li.active{
    background-color: #74AA50;
}

.checkout-steps li.active span{
    color: #ffffff;
}

.checkout-steps li:first-child{
    position: absolute;
}

.checkout-steps li:nth-child(2){
    margin: 0 auto;
}

.checkout-steps li:last-child{
    position: absolute;
    right: 0;
    top: 0;
}



/***** CHECKOUT ******/





