
@font-face {
    font-family: 'BioSans-Light';
    src: url("BioSans-Light.woff") format("woff"), url("BioSans-Light.ttf")  format("truetype"), url("BioSans-Light.otf")  format("opentype");
}

@font-face {
    font-family: 'BioSans-Regular';
    src: url("BioSans-Regular.woff") format("woff"), url("BioSans-Regular.ttf")  format("truetype"), url("BioSans-Regular.otf")  format("opentype");
}

@font-face {
    font-family: 'BioSans-SemiBold';
    src: url("BioSans-SemiBold.woff") format("woff"), url("BioSans-SemiBold.ttf")  format("truetype"), url("BioSans-SemiBold.otf")  format("opentype");
}

@font-face {
    font-family: 'BioSans-Bold';
    src: url("BioSans-Bold.woff") format("woff"), url("BioSans-Bold.ttf")  format("truetype"), url("BioSans-Bold.otf")  format("opentype");
}
